<h1>Tasks: <%= @task.title %></h1>
<h3>Details: <%= @task.details %></h3>
<p>Created: <%= @task.created_at %></p>
<%= link_to "Editar", edit_task_path(@task) %>
<%= link_to("View all tasks", tasks_path) %>
